{% extends "layouts.html" %} {% block title %} Contact Us {% endblock %} 
{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h4 class="text-center"></h4>
    </div>

  </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Contact Section ======= -->

<section id="contact" class="contact">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact Us</h2>
      </div>
      <div class="col-lg-10">

        <div class="info-wrap">
          <div class="row">
            <div class="col-lg-4 info mt-4 mt-lg-0">
              <i class="bi bi-envelope"></i>
              <h4>Email</h4>
              <p>bytevortexlabs@gmail.com<br />contact@bytevortexlabs.com</p>
            </div>

            <div class="col-lg-4 info mt-4 mt-lg-0">
              <i class="bi bi-phone"></i>
              <h4>Call</h4>
              <p>+880 1789-278731<br />+880 1518-347007</p>
            </div>
            <div class="col-lg-4 info">
              <i class="bi bi-geo-alt"></i>
              <h4>Location</h4>
              <p>A108 Dhaka Street<br />Dhaka, M2 3022, Bangladesh</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 justify-content-center" data-aos="fade-up">
      <div class="col-lg-10">
        <h4 class="text-center">Shoot a Message!</h4>
        <b><p class="text-center">I can be totally stalked online. Give me a short-out!</p>
        </b>
        <hr>
        <form action="{% url 'contact' %}" method="post" role="form">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                required
              />
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                required
              />
            </div>
          </div>
          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Subject"
              required
            />
          </div>
          <div class="form-group mt-3">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              placeholder="Message"
              required
            ></textarea>
          </div>
          <br>
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-block">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
{% endblock %}
